.setting-body {
    position: relative;
}

.setting-body .setting-header {
    padding-top: 40px;
    font-weight: 600;
    color: #505050;
}

.setting-header .setting-header_title {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 25px;
}

.setting-header_content h3 {
    font-size: 20px;
    font-weight: 600;
}

.setting-header_content p {
    font-size: 15px;
    letter-spacing: 1px;
}

.setting-avatar .setting-avatar_label {
    display: block;
    font-size: 15px;
    line-height: 1.25rem;
    font-weight: 500;
    color: rgba(55, 65, 81, 1);
}

.setting-avatar .setting-avatar_content {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.setting-avatar_content .setting-avatar_photo {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.setting-avatar_photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.setting-avatar_photo p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
}

.setting-avatar_button .setting-avatar_change {
    margin-left: 1.25rem;
    background: #fff;
    padding: 0.5rem 0.75rem;
    border: 1px solid rgba(209, 213, 219, 1);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: rgba(55, 65, 81, 1);
}

.setting-avatar_button .setting-avatar_change:hover {
    background-color: rgba(249, 250, 251, 1);
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px rgb(99 102 241);
}

.setting-avatar_button .setting-avatar_remove {
    margin-left: 1.25rem;
    background: transparent;
    padding: 0.5rem 0.75rem;
    outline: none;
    font-size: 1.1rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: rgba(55, 65, 81, 1);
    border: none;
}

.setting-avatar_button .setting-avatar_remove:hover,
.upload-buttons .button-cancel:hover {
    color: rgb(99 102 241);
}

.setting-form .setting-form_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.setting-form_content .setting-form_label {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
}

.setting-form_content .title {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
    margin: 0;
}

.setting-form_content .select-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.select-box .select-content {
    width: 110px;
    height: 28px;
    margin-left: 10px;
    border: 1px solid rgba(209, 213, 219, 1);
    border-radius: 2px;
    padding-left: 8px;
}

.setting-form_content .radio-box {
    display: flex;
    align-items: center;
}

.radio-box .radio-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30px;
}

.radio-box .radio-container:nth-child(2) {
    padding-left: 15px;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-container .checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    transform: translate(-250%, -50%);
}

.radio-container:hover input~.checkmark {
    background-color: #ccc;
}

.radio-container input:checked~.checkmark {
    background-color: #2196f3;
}

.radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked~.checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    transform: translate(-50%, -50%);
}

.setting-form_content .message {
    margin-top: 5px;
    font-size: 16px;
    color: red;
    font-weight: 500;
}

.setting-form_content .setting-form_input {
    display: flex;
    align-items: center;
    position: relative;
}

.setting-form_input i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.setting-form_input #oldPassword-icon-check,
.setting-form_input #newPassword-icon-check,
.setting-form_input #confirmPassword-icon-check {
    display: none;
    color: #23ad5c;
}

.setting-form_input #oldPassword-icon-error,
.setting-form_input #newPassword-icon-error,
.setting-form_input #confirmPassword-icon-error {
    display: none;
    color: #ff4757;
}

.setting-form_input input {
    width: 100%;
    font-size: 15px;
    height: 35px;
    border: 1px solid rgba(209, 213, 219, 1);
    border-radius: 7px;
    padding-left: 10px;
}

.setting-form_input input:focus {
    border: 1px solid rgb(99 102 241);
}

.setting-form_input .showBtn {
    display: none;
}

.showBtn #show-old-password-icon,
.showBtn #show-new-password-icon,
.showBtn #show-confirm-password-icon {
    margin-right: 30px;
}

.setting-form_input .showBtn i {
    color: #0d0d0d;
    font-size: 20px;
}

.setting-form_content .indicator {
    height: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    display: none;
}

.setting-form_content .indicator span {
    width: 100%;
    height: 100%;
    background: lightgrey;
    border-radius: 5px;
    position: relative;
}

.setting-form_content .indicator span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.setting-form_content .indicator span.active.weak:before {
    background-color: #ff4757;
}

.setting-form_content .indicator span.active.medium:before {
    background-color: orange;
}

.setting-form_content .indicator span.active.strong:before {
    background-color: #23ad5c;
}

.setting-form_content .indicator span.medium {
    margin: 0 3px;
}

.setting-form_content .error-text {
    font-size: 16px;
    font-weight: 500;
    display: none;
}

.setting-form_content .error-text.weak {
    color: #ff4757;
}

.setting-form_content .error-text.medium {
    color: orange;
}

.setting-form_content .error-text.strong {
    color: #23ad5c;
}

.setting-form .setting-form_button {
    text-align: right;
    padding: 15px 0;
}

.setting-form_button .setting-form_save {
    margin-left: 1.25rem;
    background: rgb(99 102 241);
    padding: 0.6rem 1.5rem;
    border: 1px solid rgba(209, 213, 219, 1);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #fff;
}

.setting-form_button .setting-form_save:hover,
.upload-buttons .button-change:hover {
    opacity: 0.9;
}

.setting-backgound {
    height: 60%;
}

.setting-backgound .setting-image {
    width: 100%;
    height: 100%;
}