.main-body {
    padding: 63px 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
        0 2px 6px 0 rgb(206 206 238 / 54%);
}

.card .card-body {
    padding: 30px;
}

.card .card-body input {
    width: 100%;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.avatar-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    transform: translateY(0);
}

.avatar-photo p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 70px;
}

.avatar-photo img {
    width: 100%;
    object-fit: cover;
}