.main-topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 0 10px;
}

.main-topbar .menu-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.main-topbar .menu-button .menu-button__burger {
    position: absolute;
    left: -50px;
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background: transparent;
    box-shadow: none;
    transition: all .5s ease-in-out;
}

.main-topbar .menu-button .menu-button__burger::before,
.main-topbar .menu-button .menu-button__burger::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    background: deeppink;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.main-topbar .menu-button .menu-button__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.main-topbar .menu-button .menu-button__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.main-topbar .menu-button.open .menu-button__burger {
    transform: translateX(50px);
    background: deeppink;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
}

.main-topbar .menu-button.open .menu-button__burger::before {
    transform: translateY(-10px);
}

.main-topbar .menu-button.open .menu-button__burger::after {
    transform: translateY(10px);
}

.topbar-search #searchBox {
    border-radius: 55px;
    padding: 9px 12px;
    background: #fff;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
    -moz-box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
    box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
}

.topbar-search #searchBox .button-search {
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px 0 2px;
}

.topbar-search #searchBox .button-mic {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
}

.topbar-search #searchBox .button-mic .goxjub {
    height: 28px;
    width: 28px;
    vertical-align: middle;
}

.topbar-search #searchBox input {
    font-size: 20px;
    width: 260px;
    border: 0;
    background: transparent;
    outline: none;
    color: #d0368a;
}

.topbar-search .search-place::placeholder {
    /* chạy tốt trên Chrome, Firefox, Opera, Safari 10.1+ */
    color: orange;
    opacity: 1;
    /* Firefox */
}

.topbar-search .search-place:-ms-input-placeholder {
    /* chạy trên Internet Explorer 10-11 */
    color: orange;
}

.topbar-search .search-place::-ms-input-placeholder {
    /* chạy trên Microsoft Edge */
    color: orange;
}

.topbar-search .button-search i {
    color: #7A41D9;
    transition: all .5s;
}

.topbar-search .button-search:hover i {
    color: #d0368a;
}

.main-topbar .topbar-user {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.main-topbar .topbar-user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-topbar .topbar-user p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

@media screen and (max-width: 991px) {
    .main-topbar .menu-button .menu-button__burger {
        transform: translateX(50px);
        background: deeppink;
        box-shadow: 0 2px 5px rgb(255 101 47 / 20%);
    }

    .main-topbar .menu-button .menu-button__burger::before {
        transform: translateY(10px);
    }

    .main-topbar .menu-button .menu-button__burger::after {
        transform: translateY(-10px);
    }

    .main-topbar .menu-button.open .menu-button__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .main-topbar .menu-button.open .menu-button__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
        background: var(--white);
    }

    .main-topbar .menu-button.open .menu-button__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
        background: var(--white);
    }
}

@media screen and (max-width: 500px) {
    .main-topbar .topbar-user {
        min-width: 40px;
    }

    .main-topbar .menu-button {
        z-index: 11;
    }

    .body-main.active .menu-button {
        position: fixed;
        right: 0;
        left: initial;
    }

    .topbar-search #searchBox input {
        width: 210px;
    }

    .main-topbar .menu-button .menu-button__burger {
        transform: translateX(50px);
        background: deeppink;
        box-shadow: 0 2px 5px rgb(255 101 47 / 20%);
    }

    .main-topbar .menu-button .menu-button__burger::before {
        transform: translateY(10px);
    }

    .main-topbar .menu-button .menu-button__burger::after {
        transform: translateY(-10px);
    }

    .main-topbar .menu-button.open .menu-button__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .main-topbar .menu-button.open .menu-button__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
        background: var(--white);
    }

    .main-topbar .menu-button.open .menu-button__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
        background: var(--white);
    }

    .main-topbar .menu-button.open .menu-button__burger {
        left: 0;
    }
}